/* Start Variables */
:root {
    --main-color: #10cab7;
    --secondary-color: #2c4755;
    --section-padding: 60px;
    --section-background: #f6f6f6;
    --main-duration: 0.5s;
}

/* End Variables */
/* Start Global Rules */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Work Sans", sans-serif;
}

.container {
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}

/* Small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/* Medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* Large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

/* End Global Rules */
/* Start Components */
.special-heading {
    color: #ebeced;
    font-size: 100px;
    text-align: center;
    font-weight: 800;
    letter-spacing: -3px;
    margin: 0;
}

.special-heading+p {
    margin: -30px 0 0;
    font-size: 20px;
    text-align: center;
    color: #797979;
}

@media (max-width: 767px) {
    .special-heading {
        font-size: 60px;
    }

    .special-heading+p {
        margin-top: -20px;
    }
}

/* End Components */

header {
    padding: 20px;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

header .container .logo {
    width: 60px;
}

header .links {
    position: relative;
}

header .container .links .list {
    width: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

header .container .links .list span {
    width: 100%;
    background-color: #333;
    height: 2px;
    margin-bottom: 2px;

}

header .container .links .list span:first-child {
    width: 100%;
}

header .container .links .list span:nth-child(2) {
    width: 60%;
    transition: var(--main-duration);
}

header .container .links .list span:last-child {
    width: 100%;
}

header .container .links:hover .list span:nth-child(2) {
    width: 100%;
}



header .container .links ul {
    list-style: none;
    position: absolute;
    margin: 0;
    padding: 0;
    right: 0;
    background-color: #f6f6f6;
    top: calc(100% + 15px);
    width: 200px;
    display: none;
    border-radius: 4px;
    z-index: 1;

}

header .links:hover ul {
    display: block;
}

header .container .links ul::before {
    content: '';
    border: 10px solid;
    border-color: transparent transparent #f6f6f6 transparent;
    position: absolute;
    right: 3px;
    top: -19px;
}

header .container .links ul li a {
    display: block;
    text-decoration: none;
    padding: 15px;
    color: #333;
    transition: var(--main-duration);
}

header .container .links ul li a:hover {
    padding-left: 25px;
}

header .links ul li:not(:last-child) a {
    border-bottom: 1px solid #ddd;
}

.landing {
    background-image: url(/CSS/Images/rocky-mountains-4k-j7.jpg);
    background-size: cover;
    height: calc(100vh - 64px);
    position: relative;
}

.landing .intro-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 400px;
    max-width: 100%;
}

.landing .intro-text h1 {
    margin: 0;
    font-weight: bold;
    font-size: 50px;
    color: var(--main-color);

}

.landing .intro-text p {
    font-size: 20px;
    line-height: 1.8;

}

.features {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--section-background);
}

.features .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
}

@media (max-width: 767px) {
    .features .container {
        flex-direction: column;
        text-align: center;
    }
}

.features .container .feat {
    text-align: center;
    padding: 20px;
}

.features .container .feat i {
    color: var(--main-color);
}

.features .container .feat h3 {
    font-weight: 800;
    margin: 30px auto;
}

.features .container .feat p {
    color: #777;
    font-size: 17px;
    line-height: 1.8;
}

.services {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

.services .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 30px;
}


.services .container .srv {
    display: flex;
    margin-bottom: 40px;
    ;
}

@media (max-width: 767px) {
    .services .container .srv {
        flex-direction: column;
        text-align: center;
    }
}

.services .container .col .srv i {
    color: var(--main-color);
    flex-basis: 60px;
}

.services .container .col .srv .text {
    flex: 1;
}

.services .container .col .srv .text p {
    color: #444;
    font-weight: 300;
    line-height: 1.6;
}

.services .container .col .srv .text h3 {
    font-weight: 800;
    margin: 0 0 20px;
}

.services .container .col .image img {
    width: 260px;

}

.services .container .col .image {
    text-align: center;
    position: relative;
    top: calc(50% - 40px);
    transform: translateY(-50%);
}

.services .container .col .image::before {
    position: absolute;
    content: "";
    width: 100px;
    height: calc(100% + 100px);
    background-color: #2c4755;
    right: 0;
    z-index: -1;
    top: -50px;
}

@media (max-width: 1199px) {
    .image-column {
        display: none;
    }
}

.con-2 {
    background-color: #f6f6f6;
}

.portfolio {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--section-background);
}

.portfolio .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 30px;
}

@media (max-width: 767px) {
    .portfolio .container {
        flex-direction: column;
        text-align: center;
    }
}

.portfolio .container .card {
    background-color: white;
}

.portfolio .container .card img {
    max-width: 100%;
    height: 250px;
}

.portfolio .container .info {
    padding: 20px;
}

.portfolio .container .info h3 {
    margin-top: 0;
    font-weight: 800;
}

.portfolio .container .info p {
    margin-bottom: 0;
    line-height: 1.2;
    color: #777;
}

.about {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

.about .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

@media (max-width: 991px) {
    .about .container {
        flex-direction: column;
        text-align: center;
    }

    .about .container .image {
        margin: 0 auto;
        margin-bottom: 20px;
    }
}

.about .container .image {
    position: relative;
    width: 250px;
    height: 300px;
}

.about .container .image::before {
    content: "";
    width: 100px;
    background-color: #ebeced;
    position: absolute;
    height: calc(100% + 80px);
    z-index: -1;
    top: -40px;
    left: -15px;
}

.about .container .image::after {
    content: "";
    width: 100px;
    position: absolute;
    height: calc(100% - 70px);
    border-left: 70px solid var(--main-color);
    border-bottom: 60px solid var(--main-color);
    z-index: -1;
    top: -20px;
    right: -120px;
}

@media (max-width: 991px) {

    .about .container .image::before,
    .about .container .image::after {
        display: none;
    }
}

.about .container .image img {
    max-width: 100%;
    height: 100%;
}

.about .container .text {
    flex-basis: calc(100% - 500px);
}

.about .container .text p:first-of-type {
    margin-top: 0;
    font-weight: bold;
    line-height: 2;
}

.about .container .text p:last-of-type {
    line-height: 2;
    color: #797979;
}

.about .container .text p+hr {
    width: 50%;
    display: inline-block;
    border-color: var(--main-color);
}

.contact {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--section-background);
}

.contact .info {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    text-align: center;
    margin-right: 400px;
}



.contact .info p {
    color: var(--secondary-color);
    font-size: 40px;
    font-weight: 800;
    margin: 0;
    margin-bottom: 15px;
    letter-spacing: -2px;
}

.contact .info .link {
    color: var(--main-color);
    display: block;
    font-size: 35px;
    font-weight: 800;
    text-decoration: none;
    margin-right: 40px;
}

.contact .info .social {
    margin-top: 20px;
    margin-right: 40px;
    display: flex;
    font-size: 16px;
    justify-content: center;
}

.contact .info .social i {
    margin-left: 10px;
    color: var(--secondary-color);

}

@media (max-width: 767px) {
    .contact .info {
        margin-right: 0;
    }

    .contact .info p {
        font-size: 25px;
    }

    .contact .info .link {
        font-size: 23px;
        margin-right: 0px;
    }

    .contact .info .social {
        font-size: 12px;
        margin-right: 0;
    }

}

.footer {
    background-color: var(--secondary-color);
    color: white;
    padding: 30px 10px;
    text-align: center;
    font-size: 18px;
}

.footer span {
    color: var(--main-color);
    font-weight: bold;
}